<h1 class = "header_h1" style="text-align:center;">Online Food Ordering</h1>

    <div class="navbar" style="background-color: burlywood;">
         
      <div>  
     <a href="index.html"><img class ="foodlogo" src="assets/images/foodlogo.png" alt="food" ></a>
     </div>
     <div>
     <span><a class="navlink" routerLink="About">About</a></span>
        <span><a class="navlink" routerLink="Contact">Contact</a></span>
        <span><a class="navlink"  routerLink="signup">SignUp</a></span>
        <span><a class="navlink" routerLink="Login">Login</a></span>
        </div >