<header id="header"></header>
      <h3>Cart Items</h3>
      <section>
        <table >
          <caption>Cart Items</caption>
          <thead>
            <tr>
              <th id="number">S.No</th>
              <th id="name">FoodName</th>
              <th id="price">Price</th>
              <th id="action">Actions</th>
            </tr>
          </thead>
          <tbody id="cart-table">
        </tbody>
        </table>
       <button> <a  class="order-button" href="order.html"  >Order Now</a></button>
      </section>

         <script src="jquery.js"></script>
         <script src="addcart.js"></script>
    
