
<form (ngSubmit)="login()">
    <label for="EmailId"> Email Id:</label><br><br>
    <input type="email"  [(ngModel)]="EmailId" id="EmailId" name="EmailId" placeholder="Enter the mailID"><br><br>
    <label for="Password"> Password:</label><br><br>
    <input type="password" [(ngModel)]="password" id="password" name="password"pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Enter the password"><br><br>
    <button>Login </button><br><br>
    <a href="sign_up.html" style="color:red;">signup</a>
</form>
    