<h2 class="reg">REGISTER</h2>
            <form  onsubmit="register()">  
                
                <label for= "name">Name(*):</label><br>
                <input type="text" name="name" id="name" placeholder="Enter the Name" required autofocus> <br/>
            
        
            <label for="email">Email(*):</label><br>
                <input type="email" name="email" id="email"placeholder="Enter the Email" required > <br/>
            
        
            <label for="password">Password(*):</label><br>
                <input type="password" name="password" id="password" placeholder="Enter the password"place required> <br/>
            
        <label for="confirmpassword">confirmpassword:</label><br>
                <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Enter the confirmPassword"><br> <br/>
            
          <span><button type="submit">submit</button><br></span>  
           <span> <button>back</button></span>
            </form>
